.title {

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.title b{
    cursor: pointer;

}
.authors{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.63);
}
.category{
    min-height: 25px;
    /*font-size: 14px;*/
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.63);
}