.wrapper {
    background-image: url('../../assets/bookBackGround.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
}

.wrapper h1 {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

.form {
    margin-bottom: 30px;
    width: 90%;
}

.field {
    /*width: 60%;*/
    min-width: 260px;
    background-color: white;
    border-radius: 4px;
}

.error {
    text-align: center;
    margin: 10px 0;
    min-height: 25px;
    color: white;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

.select {
    min-width: 125px;
    background-color: white;
    border-radius: 4px;
}

.selects {
    display: flex;
    justify-content: space-evenly;
}
@media screen and (min-width: 600px){
    .wrapper h1 {
        font-size: 4rem;
    }
    .error{
        font-size: 1.3rem;
    }
    .form {
        width: 60%;
    }
}
@media screen and (min-width: 900px) {
    .form {
        width: 40%;
    }
}